@media screen and (max-width:1024px)  {
    .place__image {
        max-width: 48%;
        height: 440px;
    }
}

@media screen and (max-width:768px) {
    .place__image {
        max-width: 47.2%;
        height: 50%;
    }
}

@media screen and (max-width:740px) {
    .place__image {
        max-width:100%;
    }
}

