.lead__subtitle{
    margin: 32px auto 64px;
    text-align: center;
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
}

@media screen and (max-width:1024px)  {
    .lead__subtitle {
        margin-bottom: 56px;
    }
}

@media screen and (max-width:768px) {
    .lead__subtitle {
        font-size: 32px;
    }
}

@media screen and (max-width:720px) {
    .lead__subtitle{
        font-size: calc(16px + 14 * (700px - 320px) / 380)
    }
}

@media screen and (max-width:450px) {
    .lead__subtitle {
        margin: 16px auto 40px;
        font-size: 16px;
        line-height: 1.25;
    }
}