.place__paragraph {
    width: 100%;
    margin: 0 0 0 40px;
}

@media screen and (max-width:1024px)  {
    .place__paragraph {
        max-width: 50%;
        margin-left: 32px;
    }
}

@media screen and (max-width:768px) {
    .place__paragraph {
        margin-left: 28px;
    }
}


@media screen and (max-width:450px) {
    .place__paragraph {
        margin: 32px auto 0;
        max-width: 90%;
    }
}

